.card {
  min-width: 300px;
  width: min(100% - 2rem, 30rem);
  margin-inline: auto;
  padding: var(--size-fluid-3) var(--size-fluid-4);

  text-align: center;
  background-color: var(--clr-neutral-100);
  border-radius: 20px;
  background: #f1f1f1;
  box-shadow: 6px 6px 12px #cecece, -6px -6px 12px #ffffff;
}

.card__number {
  color: var(--clr-primary);
  font-size: var(--font-size-4);
  font-family: var(--font-mono);
  letter-spacing: 0.1em;
}

.card__body {
  display: block;
  font-size: var(--font-size-3);
  font-weight: 600;
}
